:root {
    --color-dark-blue: #171721;
    --color-dark-blue-10p: #1717211A;
    --color-dark-blue-20p: #17172133;
    --color-dark-blue-50p: #17172180;

    --color-blue: #386ECC;
    --color-blue-10p: #386ECC1A;
    --color-blue-20p: #386ECC33;
    --color-blue-50p: #386ECC80;

    --color-black: #000000;
    --color-black-5p: #0000000D;
    --color-black-10p: #0000001A;
    --color-black-20p: #00000033;
    --color-black-50p: #00000080;

    --color-white: #ffffff;
    --color-white-1p: #ffffff03;
    --color-white-2_5p: #ffffff06;
    --color-white-5p: #ffffff0D;
    --color-white-10p: #ffffff1A;
    --color-white-20p: #ffffff33;
    --color-white-50p: #ffffff80;

    --color-background: var(--color-dark-blue);
    --color-text: var(--color-white);
    --color-primary: var(--color-blue);

    --font-family: "Poppins", sans-serif;
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 20px;
    --font-size-5: 24px;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 48px;
    --space-7: 64px;
    --space-8: 96px;
    --space-9: 128px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 64px;
    width: 80%;
}

main {
    width: 80%;
    margin-bottom: 64px;
}

header h1 {
    color: var(--color-white);
    font-size: 20px;
}

/* SECCION DETAILS */

.detail-section {
    margin-top: 64px;
}

.section-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
    margin-bottom: 32px;
}

.section-header i {
    color: var(--color-white);
    font-size: 48px;
}

.section-header h1 {
    color: var(--color-white);
    font-size: 48px;
}

.header-back {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.section-details {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-white-2_5p);
    padding: 32px 64px 32px 64px;
    margin-bottom: 32px;
}

.text-details i {
    margin-right: 16px;
}

.text-details-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.text-details-description-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.text-details-description-content {
    font-size: 20px;
}

.text-details-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.text-details-type-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.text-details-date {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.text-details-date-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.text-details-demo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.text-details-demo button {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    padding: 16px 96px;
    margin: 16px 0;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.text-details-demo button:hover {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
}

.section-architecture {
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-white-2_5p);
    padding: 32px 64px 32px 64px;
    margin-bottom: 32px;
}

.section-architecture div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.section-architecture div:last-child {
    margin-bottom: 0px;
}

.section-architecture div i {
    margin-right: 16px;
}

.section-functions {
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-white-2_5p);
    padding: 32px 64px 32px 64px;
    margin-bottom: 32px;
}

.section-functions div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.section-functions div:last-child {
    margin-bottom: 0px;
}

.section-functions div i {
    margin-right: 16px;
}

.text-title {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 1280px) {}


@media (max-width: 768px) {}

@media (max-width: 480px) {
    header {
        margin-top: 32px;
        width: 90%;
    }

    main {
        width: 90%;
        margin-bottom: 32px;
    }

    .section-header {
        margin-bottom: 32px;
    }

    .detail-section {
        margin-top: 16px;
    }

    .section-header i {
        font-size: 32px;
    }

    .section-header h1 {
        font-size: 32px;
    }

    .section-details{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 32px 16px 32px;
    }

     .section-details img {
        width: 100%;
        height: auto;

     }

}
