:root {
    --color-dark-blue: #171721;
    --color-blue: #386ECC;

    --color-black: #000000;
    --color-black-5p: #0000000D;
    --color-black-10p: #0000001A;
    --color-black-20p: #00000033;

    --color-white: #ffffff;
    --color-white-1p: #ffffff03;
    --color-white-2_5p: #ffffff06;
    --color-white-5p: #ffffff0D;
    --color-white-10p: #ffffff1A;
    --color-white-20p: #ffffff33;
    --color-white-50p: #ffffff80;

    --color-background: var(--color-dark-blue);
    --color-text: var(--color-white);
    --color-primary: var(--color-blue);

    --font-family: "Poppins", sans-serif;
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 20px;
    --font-size-5: 24px;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 48px;
    --space-7: 64px;
    --space-8: 96px;
    --space-9: 128px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 64px;
    width: 80%;
}

main {
    width: 80%;
    margin-bottom: 64px;
}

header h1 {
    color: var(--color-white);
    font-size: 20px;
}

/* SECCION HERO */

.hero-section {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
}

.hero-text {
    grid-column: span 1;
}

.hero-image {
    grid-column: span 1;
}

.hero-actions {
    grid-column: span 2;
    display: flex;
    margin-bottom: 64px;
    flex-wrap: wrap;
    gap: 16px;
}

.hero-scroll-indicator {
    grid-column: span 2;
}

.hero-text h1 {
    color: var(--color-white);
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-text h2 {
    color: var(--color-blue);
    font-size: 40px;
    margin-bottom: 32px;
}

.hero-text p {
    color: var(--color-white);
    font-size: 24px;
    margin-right: 104px;
    margin-bottom: 64px;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-linkedin {
    display: flex;
    width: 48px;
    height: 48px;
}

.hero-github {
    display: flex;
    width: 48px;
    height: 48px;
}

.hero-email {
    display: flex;
    height: 48px;
    width: auto;
}

.hero-btn {
    width: 48px;
    height: 48px;
    border-radius: 0;
    border: none;
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-white-10p);
}

.hero-btn {
    cursor: pointer;
}

.hero-email-text {
    max-width: 432px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white-5p);

    padding: 8px 16px;
}

.hero-email-text p {
    font-size: 20px;
    color: var(--color-white);
    word-break: break-all;
}

.hero-scroll-indicator {
    margin-bottom: 64px;
}

.hero-scroll-indicator p {
    font-size: 24px;
    color: var(--color-white);
    text-align: center;
}

/* SECCION PROJECTS */

.projects-section {
    margin-top: 64px;
}

.section-header {
    margin-bottom: 32px;
}

.section-header p {
    color: var(--color-white);
    font-size: 40px;
    font-weight: 600;
    text-align: start;
}

.projects-list {
    display: flex;
    flex-direction: column;
}

.project-card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
    margin-bottom: 32px;
    background-color: var(--color-white-2_5p);
}

.project-image {
    position: relative;
    width: 85%;
    height: auto;
    margin: 5% 5% 5% 10%;
}

.project-image img {
    width: 100%;
    display: block;
}

.project-btn {
    position: absolute;
    bottom: 15%;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: center;
}

.project-btn button {
    padding: 10px 15px;
    font-size: 18px;
    border: none;
}

.project-btn button:hover {
    cursor: pointer;
}

.project-btn .btn-demo {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.project-btn .btn-detail {
    color: var(--color-black);
    background-color: var(--color-white-20p);
    border: solid 1px var(--color-black);
}

.project-btn button:first-child {
    margin-right: 20px;
}


.project-text {
    margin: 5% 10% 5% 5%;
}

.project-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.project-title i {
    font-size: 24px;
    margin-right: 16px;
    color: var(--color-blue);
}

.project-title p {
    font-size: 24px;
    color: var(--color-blue);
}

.project-content {
    margin-bottom: 16px;
}

.project-content p {
    font-size: 20px;
    color: var(--color-white);
    margin-bottom: 8px;
}

.project-tags {
    display: flex;
}

.project-tags .tag {
    font-size: 16px;
    padding: 4px 8px;
    margin-right: 8px;
    color: var(--color-white);
    background-color: var(--color-white-10p);
}

/* SECCION ABOUT */

.about-section {
    margin-top: 64px;
}

.container-section {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-white-2_5p);
    padding: 32px 64px 32px 64px;
    margin-bottom: 32px;
}

.profile-image {
    grid-row: span 2;
}

.profile-text {
    font-size: 20px;
    margin-bottom: 16px;
}

.profile-text p:first-child {
    margin-bottom: 4px;
}

.profile-description {
    font-size: 20px;
}

.education-title {
    margin-bottom: 16px;
}

.education-icon {
    grid-row: span 2;
}

.experience-title {
    margin-bottom: 16px;
}

.experience-icon {
    grid-row: span 3;
}

.skills-icon {
    grid-row: span 8;
}

.skills-title {
    margin-bottom: 16px;
}

.skill-group {
    display: flex;
    flex-direction: column;
}

.tags-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.tags-title i {
    margin-right: 8px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.tag {
    margin-right: 16px;
    font-size: 18px;
    padding: 5px 15px;
    background-color: var(--color-white-10p);
    white-space: nowrap;
}

.soft-skills-title {
    margin-bottom: 16px;
}

.soft-skills-icon {
    grid-row: span 2;
}

.contact-title {
    margin-bottom: 16px;
}

.contact-icon {
    grid-row: span 2;
}

.contact-actions {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
}

.contact-btn {
    width: 64px;
    height: 48px;
    color: var(--color-white);
    background-color: var(--color-white-10p);
    border-radius: 0;
    border: none;
    font-size: 20px;
}

.contact-btn {
    cursor: pointer;
}

.email-text {
    width: auto;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--color-white-5p);
}

.email-text p {
    word-break: break-all;
    padding: 8px 16px;
}

@media (max-width: 1280px) {

    /* SECCION HERO */
    .hero-section {
        grid-template-columns: none;
        grid-template-rows: auto;
    }

    .hero-text {
        grid-column: span 1;
    }

    .hero-image {
        grid-column: span 1;
        margin-bottom: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-actions {
        grid-column: span 1;
    }

    .hero-scroll-indicator {
        grid-column: span 1;
    }

    .hero-image img {
        width: 60%;
    }

    /* SECCION PROJECT */

    .project-card {
        grid-template-rows: auto auto;
        grid-template-columns: none;
        gap: 0;
    }

    .project-image {
        margin: 5% 5% 0 5%;
        width: 90%;
    }

    .project-text {
        margin: 2.5% 5% 5% 5%;
    }

    /* SECCION ABOUT */

    .container-section {
        grid-template-columns: 64px 1fr;
    }
}

@media (max-width: 768px) {

    /* SECCION HERO */
    .hero-email-text {
        display: none;
    }
}

@media (max-width: 480px) {

    header {
        margin-top: 24px;
        width: 90%;
    }

    main {
        width: 90%;
        margin-bottom: 24px;
    }

    /* SECCION HERO */

    .hero-section {
        margin-top: 16px;
    }

    .hero-actions {
        margin-bottom: 32px;
    }

    .hero-text h1 {
        font-size: 40px;
        margin-bottom: 8px;
    }

    .hero-text h2 {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .hero-text p {
        font-size: 20px;
        margin-right: 32px;
        margin-bottom: 16px;
    }

    .hero-image {
        margin-bottom: 32px;
    }

    .hero-image img {
        width: 100%;
    }

    .hero-scroll-indicator p {
        font-size: 20px;
    }

    /* SECCION PROJECTS */

    .projects-section {
        margin-top: 32px;
    }

    .section-header p {

        font-size: 32px;
    }

    .project-btn button {
        padding: 5px 15px;
    }

    .project-text {
        margin: 5% 5% 5% 5%;
    }

    .project-title i {
        font-size: 20px;
    }

    .project-title p {
        font-size: 20px;
    }

    .project-content p {
        font-size: 18px;
    }

    .project-tags .tag {
        font-size: 16px;
        padding: 4px 8px;
    }
}